<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/main.css">

    <body>
        <header class="main-header">
            <nav class="main-header_nav">
                <ul class="main-header_item-list">
                    <li class="main-header_item"><a href="/">Shop</a></li>
                    <li class="main-header_item"><a href="/products">Products</a></li>
                    <li class="main-header_item"><a href="/cart">Cart</a></li>
                    <li class="main-header_item"><a href="/admin/add-product">Add Product</a></li>
                    <li class="main-header_item"><a href="/admin/products">Admin Products</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Page not found!</h1>
        </main>
    </body>

    </html>